* {
  font-family: "Courier New", Courier, monospace;
}
body {
  /* height: 100vh; */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}
h1 {
  text-align: center;
}
#main input,
#main button {
  font-size: x-large;
  /* padding-right: 10px;
    padding-left: 10px; */
  padding: 15px;
}
#main input {
  outline: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 90%;
}

#main button {
  background-color: #4fb144;
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#main {
  /* gap: 10px; */
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 10px;
}

div.todo {
  display: inline-block;
  border-radius: 4px;
  width: 400px;
  padding: 10px;
  background-color: rgb(218, 211, 211);
  margin: 2px;
  height: fit-content;
}
.doneBtn {
  background-color: #4fb144;
}

.delBtn {
  background-color: rgb(255, 102, 102);
}
div.done {
  background-color: rgb(187, 209, 187);
}
div.done p {
  text-decoration: line-through;
}

div.todo p {
  width: 100%;
  word-wrap: break-word;
  text-align: justify;
}
.tag,.todoTag {
  border-radius: 5px;
  padding: 5px;
  /* margin-left: 5px; */
  margin-right: 5px;
  background-color: beige;
}
.tag:hover {
  background-color: rgb(243, 243, 163);
  cursor: pointer;
}

.tag.selected:nth-child(4n + 1) ,.todoTag:nth-child(4n + 1) {
  background-color: rgb(162, 95, 224);
}

.tag.selected:nth-child(4n + 2),.todoTag:nth-child(4n + 2) {
  background-color: gold;
}

.tag.selected:nth-child(4n + 3),.todoTag:nth-child(4n + 3) {
  background-color: chocolate;
}
.tag.selected:nth-child(4n),.todoTag:nth-child(4n) {
  background-color: darkkhaki;
}
.todoTag{
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: small;
}
.tagsDiv{
  margin-top: 10px;
  margin-left: 0px;
}
#todos{
  margin: 10px;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
  justify-content: center;
  align-items: center;
  column-count: 3;
}
